/* Importa as diretivas base do Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Define os estilos padrão para o <body> */
@layer base {
  body {
    @apply bg-brand-light text-brand-dark; /* Fundo e texto padrão */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}